/* Inpsired by https://codepen.io/davidicus/pen/emgQKJ */

.btn {
  position: relative;
  border-radius: 10px;
  width: 100%;
  max-width: 160px;
  color: #fff;
  background-color: var(--denim);
  background-color: var(--turquoise);
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  text-decoration: none;
}

.btn-animated {
  position: relative;
  border: 1px solid;
  overflow: hidden;
}
.btn-animated span {
  z-index: 20;
}
.btn-animated::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 155px;
  left: -75px;
  top: -50px;
  opacity: 0.2;
  background: #fff;
  transform: rotate(35deg);
  transition: left 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-animated:hover::after {
  left: 120%;
  transition: left 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
