@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&family=Roboto&family=Roboto+Mono&display=swap");

:root {
  --turquoise: #4cbfa6;
  --soft-lilac: #f6ebf4;
  --purple: #482673;
  --orchid: #ed0b70;
  --digi-denim: #023b59;
  --white: whitesmoke;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--purple);
  background-color: var(--white);
}

h1 {
  font-size: 175%;
}

h2 {
  font-size: 165%;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 135%;
}

p {
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: var(--orchid);
  transition: color 0.1s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

.japanese-text {
  font-family: "Noto Sans JP", sans-serif;
}

header {
  position: fixed;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  height: 2.5rem;
  align-items: center;
  padding-inline: clamp(1rem, calc(10vw - 2rem), 10rem);
  font-family: "Roboto Mono", monospace;
  border-bottom: solid 1px var(--digi-denim);
  -webkit-box-shadow: 0px 0px 21px 3px rgba(72, 38, 115, 0.59);
  box-shadow: 0px 0px 21px 3px rgba(72, 38, 115, 0.59);
}

header .logo {
  display: flex;
  height: 100%;
  align-items: center;
}

.logo img {
  height: 30px;
  margin-bottom: -5px;
}

header .logo h1 {
  font-size: 135%;
  line-height: 1.3;
  letter-spacing: 0.16em;
  animation: typing 1.5s steps(11, end);
  white-space: nowrap;
  overflow: hidden;
  margin-left: 5px;
}

header .logo img:last-child {
  opacity: 1;
  animation: blink-caret 1s step-end infinite;
  animation-delay: 1s;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

header img {
  object-fit: cover;
  object-position: left;
  height: 100%;
}

nav > ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  text-align: center;
  align-items: center;
}

.text-nav {
  display: none;
}

.text-nav a {
  color: var(--purple);
}

.text-nav a:hover {
  color: var(--turquoise);
}

.icon-nav a svg {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  display: block;
  height: 24px;
  stroke: var(--purple);
  transition: stroke 0.1s ease-in-out;
}
.icon-nav a:hover svg {
  stroke: var(--turquoise);
}

main {
  padding-top: 2.5rem;
  -webkit-box-shadow: 0px 0px 21px 3px rgba(2, 59, 89, 0.59);
  box-shadow: 0px 0px 21px 3px rgba(2, 59, 89, 0.59);
}

.hero {
  position: relative;
  min-height: 200px;
  background-image: url("../assets/hero.png");
  background-size: cover;
  background-position: 25%;
}

.hero h2 {
  position: absolute;
  bottom: clamp(1rem, 3vw, 2rem);
  right: clamp(1rem, calc(10vw - 2rem), 10rem);
  -webkit-text-fill-color: var(--white);
  -webkit-text-stroke-color: var(--orchid);
  -webkit-text-stroke-width: clamp(1px, calc(1vw - 0.3rem), 3px);
  font-size: clamp(1rem, calc(10vw - 1rem), 5rem);
  margin: 0;
  white-space: nowrap;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.container {
  margin-inline: clamp(1rem, calc(10vw - 2rem), 10rem);
}

.info-section {
  flex-direction: column;
  padding-block: 1rem;
  display: flex;
}

.info-section:nth-child(2) {
  padding-top: 1rem;
}

.info-section-title {
  padding-inline: 1rem;
  scroll-margin-top: 3.5rem;
  border-bottom: solid 5px var(--digi-denim);
  margin-bottom: 1rem;
}

.info-section .content {
  padding-inline: 1rem;
}

.info-section .content p:not(:last-child) {
  padding-bottom: 1rem;
}

.work-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.work-item {
  border-radius: 10px;
  position: relative;
  border: solid 1px var(--orchid);
  display: block;
  background-image: url("https://placekitten.com/600/500");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 15rem;
}

.work-item::after {
  border-radius: 9px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--soft-lilac);
  opacity: 50%;
  transition: opacity 0.2s ease-in-out;
}

.work-item:hover::after {
  opacity: 0%;
}

.work-item:first-child {
  min-height: 30rem;
}

.work-item .label {
  color: var(--orchid);
  position: absolute;
  z-index: 2;
  background-color: var(--white);
  border: solid 1px var(--orchid);
  border-left: none;
  width: fit-content;
  bottom: 1rem;
  padding: 1rem;
}

.contact-me-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 1rem;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

footer {
  padding-block: 5rem;
  background-color: var(--soft-lilac);
  background-color: var(--purple);
  color: var(--white);
  text-align: center;
  position: relative;
  z-index: -1;
}

@media screen and (min-width: 400px) {
  .hero h2 {
    writing-mode: unset;
    text-orientation: unset;
  }
}

@media screen and (min-width: 600px) {
  .icon-nav {
    display: none;
  }

  .text-nav {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .info-section {
    flex-direction: row;
  }

  .info-section-title {
    flex: 1 1 11rem;
    text-align: right;
    border-bottom: none;
    border-right: solid 5px var(--digi-denim);
    margin-bottom: unset;
  }

  .info-section > .content {
    flex: 9 1 50rem;
  }

  .work-items {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .work-item {
    flex: 1 1 25rem;
  }

  .work-item:first-child {
    flex-basis: 100%;
    min-height: 30rem;
  }

  .contact-me-content {
    flex-wrap: nowrap;
  }
}
